<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {{>header}}

  <p>{{name}}</p>

  <form>
    <input type="text" placeholder="Enter a place">
    <button>Get weather forecast</button>
  </form>

  <p id="message-1"></p>
  <p id="message-2"></p>

  {{>footer}}

  <script src="/script.js"></script>
</body>

</html>